#canvasHealth {
  border: 5px dashed;
  border-radius: 10px;
  margin-left: 65px;
}
#game-board {
  border: 10px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  flex-direction: column-reverse;
  margin-right: 20px;
  margin-left: 20px;
}
#playspace-score {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: black;
  background-image: url(/imgs/DDR/vortex1background.gif);
  background-position: center;
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
span {
  color: #fff;
}
